.container {
  min-height: 100vh;
  max-width: 80%;
  margin: 0 auto;
}

.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 3em;
}

.header {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  display: grid;
  justify-content: stretch;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
}

.header .title {
  column-span: 3;
}

.header h2 {
  font-size: 2.5em;
  margin-bottom: 0;
}

.header h3 {
  font-size: 1em;
  margin: 0;
}

.header p {
  margin: 0;
}

.edNumber {
  grid-column: -1;
}

.edNumber .number {
  position: relative;
  font-size: 4em;
  font-weight: bold;
  font-style: normal;
}

.edNumber .number::after {
  content: "";
  width: 100%;
  position: absolute;
  top: 1em;
  left: 0;
  box-sizing: inherit;
  border: 1px solid black; /* Change container border */
}

.edNumber .year {
  font-weight: bold;
}

.main .contentTable {
  display: grid;
  justify-items: flex-end;
  grid-template-columns: repeat(4, minmax(80px, 1fr));
}

.main .contentTable ul {
  grid-column: -1;
  width: 80%;
  text-transform: uppercase;
  margin-top: 2em;
  text-align: right;
  font-style: italic;
}

.main .contentTable li {
  position: relative;
  margin-bottom: 1em;
}

.main .contentTable li::before {
  content: "";
  width: 100%;
  position: absolute;
  top: -0.25em;
  left: 0;
  margin-bottom: 1em;
  box-sizing: inherit;
  border: 1px solid black; /* Change container border */
}
