.container {
  min-height: 100vh;
  width: 80%;
  margin: 0 auto;
}

.main {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.main .title {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  display: grid;
  grid-template-columns: 3fr max-content;
  width: 80%;
}

.main .title h2 {
  font-size: 2.5em;
  margin-bottom: 0;
}

.main .title h3 {
  font-size: 1em;
  margin: 0;
}

.main .title p {
  margin: 0;
}

.main .title .edNumber {
  font-size: 4em;
  font-weight: bold;
  font-style: normal;
  position: relative;
}

.main .title .edNumber::after {
  content: "";
  width: 100%;
  position: absolute;
  top: 1em;
  left: 0;
  box-sizing: inherit;
  border: 1px solid black; /* Change container border */
}

.main .title .year {
  font-weight: bold;
}

.main .contentTable {
  display: grid;
  justify-content: flex-end;
  /* width: 50%; */
}

.main .contentTable ul {
  text-transform: uppercase;
  margin-top: 2em;
  text-align: right;
  font-style: italic;
  /* width: 40%; */
  /* display: flex;
  flex-direction: column; */
  /* align-content: flex-end; */
}

.main .contentTable li {
  position: relative;
  width: 50%;
  margin-bottom: 1em;
}

.main .contentTable li::before {
  content: "";
  width: 100%;
  position: absolute;
  top: -0.25em;
  left: 0;
  margin-bottom: 1em;
  box-sizing: inherit;
  border: 1px solid black; /* Change container border */
}
